extends ../layout
block content
    h1 Loans
    |     
    p
      a.button(href='/loans/new_loan') Create New Loan
    |     
    p
      | Filters 
      a(href='/loans/all_loans') All
      |  | 
      a(href='/loans/overdue_loans') Overdue
      |  | 
      a(href='/loans/checked_loans') Checked Out
    |     
    table
      thead
        tr
          th Book
          |                 
          th Patron 
          |                 
          th Loaned on
          |                 
          th Return by 
          |                 
          th Returned on
          |                 
          th Action
      |         
      tbody
        if loans
          each Loan in loans
            tr
              td
                a(href='/books/book_detail/'+Loan.book_id)= Loan.Book.title
              |                 
              td
                a(href='/patrons/patron_detail/'+Loan.patron_id)= Loan.Patron.first_name +' '+ Loan.Patron.last_name
              |                 
              td= Loan.loaned_on.slice(0,10)
              |                 
              td= Loan.return_by.slice(0,10)
              |
              if Loan.returned_on                 
                td= Loan.returned_on.slice(0, 10)
                |  
              else
                td
                |                 
              if !Loan.returned_on || Loan.returned_on < Loan.loaned_on                
                td
                  a.button(href=`/loans/return_book/${Loan.book_id}/${Loan.patron_id}`) Return Book
              else
                td
                |
            |
        else            
          tr
    include ../_paginate