extends ../layout
block content
    h1= first_name +' '+ last_name
    |     
    form(method='post')
      p
        label(for='first_name') First Name
        input#first_name(type='text', name="first_name" value= first_name)
      |         
      p
        label(for='last_name') Last Name
        input#last_name(type='text', name="last_name" value= last_name)
      |         
      p
        label(for='address')  Address
        input#address(type='text', name="address" value= address)
      |         
      p
        label(for='email') Email
        input#email(type='text', name="email" value= email)
      |         
      p
        label(for='library_id') Library ID
        input#library_id(type='text', name="library_id" value= library_id)
      |         
      p
        label(for='zip_code') Zip Code
        input#zip_code(type='text', name="zip_code" value= zip_code)
      |         
      p
        input(type='submit', value='Update')
    |     
    h2 Loan History
    |     
    table
      thead
        tr
          th Book
          |                 
          th Patron 
          |                 
          th Loaned on
          |                 
          th Return by 
          |                 
          th Returned on
          |                 
          th Action
      |         
      tbody
        if patron.Loans
          each Loan in patron.Loans
            tr
              td
                a(href='/books/book_detail/'+Loan.book_id)= Loan.Book.title
              |                 
              td
                a(href='/patrons/patron_detail/'+patron.id)= patron.first_name +' '+ patron.last_name
              |                 
              td= Loan.loaned_on.slice(0, 10)
              |                 
              td= Loan.return_by.slice(0, 10)
              |
              if Loan.returned_on                 
                td= Loan.returned_on.slice(0, 10)
                |  
              else
                td
                |                 
              if !Loan.returned_on || Loan.returned_on < Loan.loaned_on                
                td
                  a.button(href=`/loans/return_book/${Loan.book_id}/${Loan.patron_id}`) Return Book
              else
                td
                |
            |
        else            
          tr
          |